<div class="container-fluid" style="background-color:lightblue">
    <div class="container" style="background-color:lightblue">
        <h1 class="text-center" style="color: green">REGISTRO DE NIÑO(A)</h1>
        <form style="
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    ">
            <div>
                <label for=""><strong>Cedula: </strong></label>
                <input type="text" name="cedula" id="cedula" placeholder="Ingrese su cedula" [(ngModel)]="nUsuario.cedula" [required]="nUsuario.cedula.length > 0">
            </div>
            <div>
            <label for="">Nombre: </label>
            <input type="text" name="nombres" id="nombres" placeholder="Ingrese su nombre" size="20" [(ngModel)]="nUsuario.nombre" [required]="nUsuario.nombre.length > 0">
            </div>
            <div>
            <label for="">Apellido: </label>
            <input type="text" name="apellidos" id="apellidos" placeholder="Ingrese su apellidos" size="20" [(ngModel)]="nUsuario.apellido" [required]="nUsuario.apellido.length > 0">
            </div>
            <div>
            <label>Fecha de Nacimiento: </label>
            <input type="date" [ngModel]="nUsuario.fechaNacimiento" (ngModelChange)="userNamengmodelchange($event)" [ngModelOptions]="{standalone: true}" [required]="nUsuario.fechaNacimiento.length >= 0"> 
            </div>
            <div>
            <label for="">Unidad Educativa: </label>
            <input type="text" name="unidadEducativa" id="unidadEducativa" placeholder="Ingrese Unidad Educativa" [(ngModel)]="nUsuario.unidadEducativa" [required]="nUsuario.unidadEducativa.length > 0">
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="regN()" [disabled]="nUsuario.cedula.length <= 9 || nUsuario.nombre.length <= 2 || nUsuario.apellido.length <= 2 || nUsuario.fechaNacimiento.length <= 9 || nUsuario.unidadEducativa.length < 2">Registrarse</button>
        </form>
    </div>
    <footer>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="https://www.facebook.com/gavriellrj">Gabriel Chuchuca</a>&nbsp;
            <a class="text-reset fw-bold" href="https://www.facebook.com/malki.yupanky">Malki Yupanki</a>

          </div>
    </footer>
</div>